<div ng-controller="FormCtrl">
<form ng-submit="submitForm()" name="aetherForm" class="form-horizontal">
<fieldset>

<!-- Form ng-model -->
<div class="text-center"><legend>Create a Project</legend></div>

<!-- Text input-->
<div class="form-group">
  <label class="col-md-4 control-label" for="project_name">Project name</label>
  <div class="col-md-4">
  <input id="project_name" ng-model="data.project_name" type="text" placeholder="placeholder" class="form-control input-md" required>

  </div>
</div>

<!-- Text input-->
<div class="form-group">
  <label class="col-md-4 control-label" for="elements_package">Elements Package</label>
  <div class="col-md-4">
  <input id="elements_package" ng-model="data.elements_package" type="text" placeholder="example.elements" class="form-control input-md" required>

  </div>
</div>

<!-- Text input-->
<div class="form-group">
  <label class="col-md-4 control-label" for="actions_package">Actions Package</label>
  <div class="col-md-4">
  <input id="actions_package" ng-model="data.actions_package" type="text" placeholder="example.actions" class="form-control input-md" required>

  </div>
</div>

<!-- Text input-->
<div class="form-group">
  <label class="col-md-4 control-label" for="login_url">Login URL</label>
  <div class="col-md-4">
  <input type="url" id="login_url" ng-model="data.login_url" type="text" placeholder="http://example.com/login" class="form-control input-md" required>

  </div>
</div>

<!-- input -->
<div class="form-group">
  <label class="col-md-4 control-label" for="parameterKeyList">Payload Parameters</label>
  <div id="parameterKeyList" class="col-md-1">
    <input ng-model="data.parameterkey_1" class="form-control paramkeys" id="parameterKey" />
  </div>
  <div id="parameterValueList" class="col-md-3">
    <input ng-model="data.parametervalue_1" class="form-control paramvalues" id="parameterValue" />
  </div>
    <button class="btn-small" id="addParameters" ng-click="addParameter()">Add another parameter​</button>
</div>

<!-- Input -->
<div class="form-group">
  <label class="col-md-4 control-label" for="selector">CSS Selectors</label>
  <div id="selectorList" class="col-md-4">
    <input ng-model="data.selector_1" class="form-control selectors" id="selector" placeholder="input" required/>
  </div>
    <button class="btn-small" id="addSelectors" ng-click="addSelector()">Add another selector​</button>
</div>

<!-- input -->
<div class="form-group">
  <label class="col-md-4 control-label" for="urlname">URL Whitelist</label>
  <div id="urlNameList" class="col-md-1">
    <input ng-model="data.urlName_1" class="form-control urlnames" id="urlName" placeholder="Feature" required>
  </div>
  <div id="urlList" class="col-md-3">
    <input type="url" ng-model="data.url_1" class="form-control urls" id="url" ng-model="data.urls" placeholder="http://example.com/feature" required/>
  </div>
    <button class="btn-small" id="addUrls" ng-click="addUrl()">Add another URL</button>
</div>

<!-- Button -->
<div class="form-group">
  <label class="col-md-4 control-label" for="submit"></label>
  <div class="col-md-4">
    <button id="submit" type="submit" class="btn btn-primary" ng-disabled="aetherForm.$invalid">Submit</button>
  </div>
</div>

</fieldset>
</form>

<div id="loading" class="text-center" ng-if="data.dataloading">
    Scraping your website...
</div>

<div id="done" class="text-center" ng-if="data.datadone">
    Scraping complete!
</div>

<div id="error" class="text-center" ng-if="data.dataerror != null">
    {{ data.dataerror }}
</div>

</div>